/* .parent{
    display: grid;
    background-color: red;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    row-gap: 12px;
    column-gap: 12px;
}   
.child{
    background-color: cyan;
}
.child1{
    grid-column-start: 1;
    grid-column-end: 3;
} */

.container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    place-items: center;
}
.box{
    border: 2px solid black;
    background-color: cornflowerblue;
    width: 212px;
    height: 212px;
}
